@import './exportable/app.colors';

$colorsAvailable: (
  st-blue: $colorStBlue,
  action: $colorAction,
  action-140: $colorAction140,
  action-120: $colorAction120,
  action-80: $colorAction80,
  action-60: $colorAction60,
  action-40: $colorAction40,
  action-10: $colorAction10,
  space: $colorSpace,
  space-110: $colorSpace110,
  space-70: $colorSpace70,
  space-50: $colorSpace50,
  space-40: $colorSpace40,
  space-30: $colorSpace30,
  space-20: $colorSpace20,
  space-10: $colorSpace10,
  space-5: $colorSpace5,
  success: $colorSuccess,
  success-80: $colorSuccess80,
  success-10: $colorSuccess10,
  warning: $colorWarning,
  warning-80: $colorWarning80,
  warning-10: $colorWarning10,
  critical: $colorCritical,
  critical-80: $colorCritical80,
  critical-10: $colorCritical10,
  neutral: $colorNeutral,
  neutral-80: $colorNeutral80,
  neutral-70: $colorNeutral70,
  neutral-60: $colorNeutral60,
  neutral-50: $colorNeutral50,
  neutral-40: $colorNeutral40,
  neutral-30: $colorNeutral30,
  neutral-20: $colorNeutral20,
  neutral-15: $colorNeutral15,
  neutral-10: $colorNeutral10,
  neutral-8: $colorNeutral8,
  neutral-4: $colorNeutral4,
  neutral-2: $colorNeutral2,
  neutral-full: $colorNeutralFull,
  misc-coral: $colorMiscCoral,
  misc-coral-40: $colorMiscCoral40,
  misc-tangerine: $colorMiscTangerine,
  misc-tangerine-40: $colorMiscTangerine40,
  misc-peach: $colorMiscPeach,
  misc-peach-30: $colorMiscPeach30,
  misc-olive: $colorMiscOlive,
  misc-olive-30: $colorMiscOlive30,
  misc-turquoise: $colorMiscTurquoise,
  misc-turquoise-30: $colorMiscTurquoise30,
  misc-lavender: $colorMiscLavender,
  misc-lavender-30: $colorMiscLavender30
);
