@import '../../../global/mixins';

@import './font-sizes';

%mda-components-template {
  LABEL {
    &.mda-label, &.mda-label.mda-label--small {
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  INPUT, SPAN, DIV {
    &.mda-input {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      &.mda-input--small {
        --mda-component-padding-vertical: 5px;
      }
    }
  }

  INPUT[type=radio], INPUT[type=checkbox] {
    & + LABEL {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  SPAN, DIV {
    &.mda-report {
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  TEXTAREA.mda-textarea {
    @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    &.mda-textarea--small {
      --mda-component-padding-vertical: 5px;
      --mda-textarea-height: 32px;
    }
  }

  SELECT, SPAN, DIV {
    &.mda-select {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      &.mda-select--small:not(.mda-select--filter) {
        --mda-component-padding-vertical: 5px;
      }
      &.mda-select--filter {
        --mda-component-width: fit-content;
        --mda-component-padding-vertical: 0;
      }
      &.mda-select--placeholder {
        color: var(--mda-component-placeholder-color);
      }
    }
  }

  BUTTON {
    &.mda-button {
      font-size: 14px;
      line-height: 20px;

      --mda-component-padding-horizontal: 20px;
      &.mda-button--small {
        --mda-component-padding-vertical: 5px;
      }
      &.mda-button--secondary, &.mda-button--bob {
        --mda-button-color: var(--mda-color-action);
        --mda-button-border-color: var(--mda-color-space-70);
        --mda-button-background-color: var(--mda-color-neutral-full);
        --mda-button-hover-color: var(--mda-color-action-120);
        --mda-button-hover-border-color: var(--mda-color-action-120);
        --mda-button-hover-background-color: var(--mda-color-neutral-full);
        --mda-button-active-color: var(--mda-color-action-150);
        --mda-button-active-border-color: var(--mda-color-action-150);
        --mda-button-active-background-color: var(--mda-color-neutral-full);
        --mda-button-disabled-color: var(--mda-color-action-60);
        --mda-button-disabled-border-color: var(--mda-color-action-40);
        --mda-button-disabled-background-color: var(--mda-color-neutral-full);
        --mda-button-disabled-icon-color: var(--mda-color-action-60);
      }
      &.mda-button--third {
        --mda-button-color: var(--mda-color-space-80);
        --mda-button-border-color: var(--mda-color-space-5);
        --mda-button-background-color: var(--mda-color-space-5);
        --mda-button-hover-color: var(--mda-color-space);
        --mda-button-hover-border-color: var(--mda-color-space-10);
        --mda-button-hover-background-color: var(--mda-color-space-10);
        --mda-button-active-color: var(--mda-color-action-150);
        --mda-button-active-border-color: var(--mda-color-space-5);
        --mda-button-active-background-color: var(--mda-color-space-5);
        --mda-button-disabled-color: var(--mda-color-space-40);
        --mda-button-disabled-border-color: var(--mda-color-space-5);
        --mda-button-disabled-background-color: var(--mda-color-space-5);
        --mda-button-disabled-icon-color: var(--mda-color-space-40);
      }
      &.mda-button--critical {
        --mda-button-color: var(--mda-color-neutral-full);
        --mda-button-border-color: var(--mda-color-critical);
        --mda-button-background-color: var(--mda-color-critical);
        --mda-button-hover-color: var(--mda-color-neutral-full);
        --mda-button-hover-border-color: var(--mda-color-critical-120);
        --mda-button-hover-background-color: var(--mda-color-critical-120);
        --mda-button-active-color: var(--mda-color-neutral-full);
        --mda-button-active-border-color: var(--mda-color-critical-140);
        --mda-button-active-background-color: var(--mda-color-critical-140);
        --mda-button-disabled-color: var(--mda-color-space-40);
        --mda-button-disabled-border-color: var(--mda-color-critical-10);
        --mda-button-disabled-background-color: var(--mda-color-critical-10);
        --mda-button-disabled-icon-color: var(--mda-color-space-40);
      }
      &.mda-button--icon-only {
        I.mda-icon {
          margin: 0;
        }
        --mda-component-padding-horizontal: 11px;
        --mda-component-padding-vertical: 11px;
        &.mda-button--small {
          --mda-component-padding-horizontal: 7px;
          --mda-component-padding-vertical: 7px;
        }
      }
    }
  }
}
