@import '../../../global/mixins';

@import './font-sizes';

%mda-components-template {
  LABEL.mda-label {
    @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    &.mda-label--small {
      @include defineFontSizeElement(12, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  INPUT, SPAN, DIV {
    .mda-input {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      &.mda-input--small {
        --mda-component-padding-vertical: 5px;
      }
    }
  }
}
