@import './shared/mixins';

%mda-checkbox {
  INPUT[type=checkbox] {
    $checkboxCorrectionFactor: 1px;
    $checkboxIconCorrectionOverlap: 0;

    @include selectionElement(2px, $checkboxCorrectionFactor) {
      left: calc((var(--mda-selection-icon-size) / 2) - (var(--mda-checkbox-internal-checked-size) / 2));
      bottom: calc(
        (var(--mda-selection-icon-size) / 2) -
        (var(--mda-checkbox-internal-checked-size) / 2) -
        #{$checkboxIconCorrectionOverlap} +
        var(--mda-selection-icon-spacer)
      );
      border: none;
      background-color: unset;
      font-family: var(--mda-icon-font-family);
      content: var(--mda-icon-checkbox-checked);
      font-size: var(--mda-checkbox-internal-checked-size);
      line-height: var(--mda-checkbox-internal-checked-size);
      color: var(--mda-selection-internal-checked-color);
    }
    &:disabled, &.disabled {
      &:checked + LABEL {
        &:after {
          background-color: unset;
          color: var(--mda-selection-internal-checked-disabled-color);
        }
      }
    }
  }
}
