@import './button';
@import './checkbox';
@import './input';
@import './label';
@import './radio';
@import './report';
@import './select';
@import './switch';
@import './textarea';

%mda-components {
  @extend %mda-button;
  @extend %mda-checkbox;
  @extend %mda-input;
  @extend %mda-label;
  @extend %mda-radio;
  @extend %mda-report;
  @extend %mda-select;
  @extend %mda-switch;
  @extend %mda-textarea;
}
