// ###### Blocks
%mda-default-disabled-component {
  background-color: var(--mda-component-disabled-background-color);
  color: var(--mda-component-disabled-color);
  border-color: var(--mda-component-disabled-border-color);
  cursor: var(--mda-component-disabled-cursor);
}
