@import 'shared/common';

%mda-input {
  INPUT.mda-input {
    width: var(--mda-component-width);
    min-width: var(--mda-component-width);
    box-sizing: border-box;
    padding: var(--mda-component-padding-vertical) var(--mda-component-padding-horizontal);
    border: var(--mda-component-border);
    border-color: var(--mda-component-border-color);
    border-radius: var(--mda-component-border-radius);
    background: var(--mda-component-background-color);
    color: inherit;
    &:hover {
      border-color: var(--mda-component-hover-border-color);
      background-color: var(--mda-component-hover-background-color);
    }
    &:disabled, &.disabled {
      @extend %mda-default-disabled-component;
      &::placeholder {
        color: var(--mda-component-placeholder-disabled-color);
      }
    }
    &:focus, &.focus {
      border-color: var(--mda-component-focus-border-color);
      box-shadow: 0 0 4px 0 rgba(var(--mda-component-focus-border-color-rgb), 0.2);
      background-color: var(--mda-component-focus-background-color);
    }
    &.error, &:focus.error, &.focus.error {
      border-color: var(--mda-component-error-border-color);
      background-color: var(--mda-component-error-background-color);
      box-shadow: none;
    }
    &::placeholder {
      color: var(--mda-component-placeholder-color);
    }
  }

  %mda-input--icon {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    &:hover {
      INPUT.mda-input:not(:focus):not(.focus):not(:disabled):not(.disabled):not(.error) {
        border-color: var(--mda-component-hover-border-color);
        background-color: var(--mda-component-hover-background-color);
      }
    }
    &:after {
      font-size: inherit;
      line-height: inherit;
      position: absolute;
      color: var(--mda-component-icon-color);
      top: calc(var(--mda-component-padding-vertical) + 1px);
      right: .6em;
    }
    &.disabled {
      cursor: var(--mda-component-disabled-cursor);
      &:after {
        color: var(--mda-component-icon-disabled-color);
      }
    }
    &.action:after {
      cursor: pointer;
    }
    & > INPUT.mda-input {
      font-size: inherit;
      line-height: inherit;
      padding-right: 2em;
    }
  }

  SPAN, DIV {
    &.mda-input {
      &.mda-input--search {
        @extend %mda-input--icon;
        &:after {
          font-family: var(--mda-icon-font-family);
          content: var(--mda-icon-search);
        }
      }
      &.mda-input--email {
        @extend %mda-input--icon;
        &:after {
          font-family: var(--mda-icon-font-family);
          content: var(--mda-icon-email);
        }
      }
      &.mda-input--user {
        @extend %mda-input--icon;
        &:after {
          font-family: var(--mda-icon-font-family);
          content: var(--mda-icon-user);
        }
      }
      &.mda-input--password {
        @extend %mda-input--icon;
        &:after {
          font-family: var(--mda-icon-font-family);
          content: var(--mda-icon-password);
        }
      }
    }
  }
}
