@import './shared/common';
@import './shared/mixins';

%mda-input {
  INPUT.mda-input {
    @include textInputElement() {
      @extend %mda-default-disabled-component;
    }
  }

  %mda-input--icon {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    &:hover {
      INPUT.mda-input:not(:focus):not(.focus):not(:disabled):not(.disabled):not(.error) {
        border-color: var(--mda-component-hover-border-color);
        background-color: var(--mda-component-hover-background-color);
      }
    }
    &:after {
      font-family: var(--mda-icon-font-family);
      font-size: inherit;
      line-height: inherit;
      position: absolute;
      color: var(--mda-component-icon-color);
      top: calc(var(--mda-component-padding-vertical) + 1px);
      right: .6em;
    }
    &.action:after {
      cursor: pointer;
    }
    &.disabled, &.action.disabled {
      cursor: var(--mda-component-disabled-cursor);
      &:after {
        color: var(--mda-component-icon-disabled-color);
        cursor: var(--mda-component-disabled-cursor);
      }
    }
    & > INPUT.mda-input {
      font-size: inherit;
      line-height: inherit;
      padding-right: 2em;
    }
  }

  SPAN, DIV {
    &.mda-input {
      &.mda-input--action-clear {
        @extend %mda-input--icon;
        &.action:after {
          content: var(--mda-icon-action-clear);
        }
      }

      &.mda-input--search {
        @extend %mda-input--icon;
        &:not(.action):after {
          content: var(--mda-icon-search);
        }
      }
      &.mda-input--email {
        @extend %mda-input--icon;
        &:not(.action):after {
          content: var(--mda-icon-email);
        }
      }
      &.mda-input--user {
        @extend %mda-input--icon;
        &:not(.action):after {
          content: var(--mda-icon-user);
        }
      }
      &.mda-input--password {
        @extend %mda-input--icon;
        &:not(.action):after {
          content: var(--mda-icon-password);
        }
      }
    }
  }
}
