%mda-notifications {
  .mda-notifications {
    --mda-notifications-default-position: var(--mda-notifications-position);
    --mda-notifications-default-padding: var(--mda-notifications-padding);
    --mda-notifications-default-width: var(--mda-notifications-width);
    --mda-notifications-default-min-width: var(--mda-notifications-min-width);
    --mda-notifications-default-max-width: var(--mda-notifications-max-width);
    --mda-notifications-default-top: var(--mda-notifications-top);
    --mda-notifications-default-left: var(--mda-notifications-left);

    --mda-notifications-default-border: var(--mda-notifications-border);
    --mda-notifications-default-border-radius: var(--mda-notifications-border-radius);
    --mda-notifications-default-box-shadow: var(--mda-notifications-box-shadow);

    --mda-notifications-default-text-color: var(--mda-notifications-text-color);
    --mda-notifications-default-border-color: var(--mda-notifications-border-color);
    --mda-notifications-default-background-color: var(--mda-notifications-background-color);

    --mda-notifications-default-icon-separation: var(--mda-notifications-icon-separation);
    --mda-notifications-default-close-control-separation: var(--mda-notifications-close-control-separation);
  }
}
