@import './shared/common';
@import './shared/mixins';

%mda-select {
  --mda-select-filter-width: fit-content;

  SELECT.mda-select {
    @include textInputElement() {
      @extend %mda-default-disabled-component;
    }

    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: unset;
    &::-ms-expand {
      display: none;
    }
  }

  %mda-select__wrapper {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    &:after {
      font-family: var(--mda-icon-font-family);
      content: var(--mda-icon-arrow-bottom);
      position: absolute;
      font-size: inherit;
      line-height: inherit;
      pointer-events: none;
      color: var(--mda-component-icon-color);
      top: var(--mda-component-padding-vertical);
      right: .6em;
    }
    & > SELECT.mda-select {
      font-size: inherit;
      line-height: inherit;
      padding-right: 2em;
    }
    &:disabled, &.disabled {
      cursor: var(--mda-component-disabled-cursor);
      &:after {
        color: var(--mda-component-icon-disabled-color);
      }
    }
    &:focus:after, &.focus:after {
      color: var(--mda-focus-color);
    }
    &.error:after, &:focus.error:after, &.focus.error:after {
      color: var(--mda-error-color);
    }
  }

  SPAN, DIV {
    &.mda-select {
      @extend %mda-select__wrapper;

      &.mda-select--filter {
        @extend %mda-select__wrapper;
        &:after {
          right: 0;
        }
        & > SELECT.mda-select {
          width: var(--mda-select-filter-width);
          min-width: var(--mda-select-filter-width);
          border: none;
          border-radius: 0;
          background-color: transparent;
          padding-left: 0;
          padding-right: calc(1em + 10px);
          box-shadow: none;
        }
      }
    }
  }
}
