%mda-spinner {
  .mda-spinner {
    --mda-spinner-default-display: var(--mda-spinner-display);
    --mda-spinner-default-size: var(--mda-spinner-size);
    --mda-spinner-default-line-width: var(--mda-spinner-line-width);
    --mda-spinner-default-color: var(--mda-spinner-color);
  }
}
