// ###### BRAND
$colorStBlue: #37b5e4;

// ###### ACTION
$colorAction: #128bdd;
$colorAction140: #0b5385;
$colorAction120: #0e6fb1;
$colorAction80: #41a2e4;
$colorAction60: #71b9eb;
$colorAction40: #a0d1f1;
$colorAction10: #e7f3fc;

// ###### SPACE
$colorSpace: #27323d;
$colorSpace110: #0f1b27;
$colorSpace70: #6c7b8b;
$colorSpace50: #8898a7;
$colorSpace40: #a5b1bc;
$colorSpace30: #aab7c4;
$colorSpace20: #cdd6df;
$colorSpace10: #eaeff5;
$colorSpace5: #f3f6f8;

// ###### STATUSES
$colorSuccess: #0caa70;
$colorSuccess80: #3dbb8d;
$colorSuccess10: #e7f7f1;

$colorWarning: #ec7e13;
$colorWarning80: #f09842;
$colorWarning10: #fdf2e7;

$colorCritical: #c9253c;
$colorCritical80: #d45163;
$colorCritical10: #fae9ec;

// ###### NEUTRAL
$colorNeutral: #111111;
$colorNeutral80: #414141;
$colorNeutral70: #585858;
$colorNeutral60: #707070;
$colorNeutral50: #888888;
$colorNeutral40: #a0a0a0;
$colorNeutral30: #b8b8b8;
$colorNeutral20: #cfcfcf;
$colorNeutral15: #dbdbdb;
$colorNeutral10: #e7e7e7;
$colorNeutral8: #ececec;
$colorNeutral4: #f5f5f5;
$colorNeutral2: #fafafa;
$colorNeutralFull: white;

// ###### MISCELLANEOUS
$colorMiscCoral: #fa7167;
$colorMiscCoral40: #fdc6c2;
$colorMiscTangerine: #fa9c7d;
$colorMiscTangerine40: #fdd7cb;
$colorMiscPeach: #fdbd2b;
$colorMiscPeach30: #feebbf;
$colorMiscOlive: #acc952;
$colorMiscOlive30: #e6efcb;
$colorMiscTurquoise: #2dcfbe;
$colorMiscTurquoise30: #c0f1ec;
$colorMiscLavender: #cd89d2;
$colorMiscLavender30: #f0dcf2;
