// ###### Blocks
%mda-default-disabled-component {
  color: var(--mda-component-disabled-color);
  border-color: var(--mda-component-disabled-border-color);
  background-color: var(--mda-component-disabled-background-color);
  cursor: var(--mda-component-disabled-cursor);
}

%mda-textarea-disabled-component {
  @extend %mda-default-disabled-component;
  resize: none;
}
