//## Mixin for generate selection element basic structure.
//## PARAMETERS: border-radius
@mixin selectionElement($borderRadius, $correctionFactor) {
  display: none;
  & + LABEL {
    position: relative;
    display: inline-flex;
    margin-right: var(--mda-selection-option-spacer);
    padding: var(--mda-selection-icon-spacer) 0;
    color: var(--mda-label-color);
    cursor: pointer;
    width: fit-content;
    min-width: fit-content;
    height: var(--mda-selection-icon-size);
    min-height: var(--mda-selection-icon-size);
    line-height: unset;
    &:before {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      content: '';
      left: 0;
      top: $correctionFactor;
      width: var(--mda-selection-icon-size);
      max-width: var(--mda-selection-icon-size);
      height: var(--mda-selection-icon-size);
      max-height: var(--mda-selection-icon-size);
      border: var(--mda-component-border);
      border-color: var(--mda-component-border-color);
      background-color: var(--mda-component-background-color);
      border-radius: $borderRadius;
      margin-right: var(--mda-selection-icon-spacer);
    }
  }
  &:hover {
    & + LABEL {
      &:before {
        border-color: var(--mda-component-hover-border-color);
        background-color: var(--mda-component-hover-background-color);
      }
    }
  }
  &:disabled, &.disabled {
    & + LABEL {
      color: var(--mda-selection-disabled-tex-color);
      cursor: var(--mda-component-disabled-cursor);
      &:before {
        border-color: var(--mda-component-disabled-border-color);
        background-color: var(--mda-component-disabled-background-color);
      }
    }
    &:checked + LABEL {
      &:before {
        border-color: var(--mda-selection-checked-disabled-border-color);
        background-color: var(--mda-selection-checked-disabled-background-color);
      }
      &:after {
        background-color: var(--mda-selection-internal-checked-disabled-color);
      }
    }
  }
  &:checked + LABEL {
    &:before {
      border-color: var(--mda-component-checked-border-color);
      background-color: var(--mda-component-checked-background-color);
    }
    &:after {
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      content: '';
      @content;
    }
  }
  &.mda-selection--no-label + LABEL {
    font-size: 0;
    line-height: 0;
  }
  &.mda-selection--vertical {
    & + LABEL {
      display: flex;
    }
  }
}
