// ###### BRAND
$colorStBlue: #37b5e4;

// ###### CORPORATE
$colorCorporate500: #0d1f32;
$colorCorporate400: #1a2246;
$colorCorporate300: #233d85;
$colorCorporate200: #0776df;
$colorCorporate100: #28abf8;

// ###### SPACE
$colorSpace: #27323d;
$colorSpace110: #0f1b27;
$colorSpace80: #566574;
$colorSpace70: #6c7b8b;
$colorSpace50: #8898a7;
$colorSpace40: #a5b1bc;
$colorSpace30: #aab7c4;
$colorSpace20: #cdd6df;
$colorSpace10: #eaeff5;
$colorSpace5: #f3f6f8;

// ###### STATUSES
$colorSuccess: #0caa70;
$colorSuccess140: #076643;
$colorSuccess120: #0a885a;
$colorSuccess10: #e7f7f1;

$colorWarning: #ec7e13;
$colorWarning140: #8e4c0b;
$colorWarning120: #bd650f;
$colorWarning10: #fdf2e7;

$colorCritical: #c9253c;
$colorCritical140: #861920;
$colorCritical120: #b2212a;
$colorCritical10: #fae9ec;

// ###### NEUTRAL
$colorNeutral: #111111;
$colorNeutral80: #414141;
$colorNeutral70: #585858;
$colorNeutral60: #707070;
$colorNeutral50: #888888;
$colorNeutral40: #a0a0a0;
$colorNeutral30: #b8b8b8;
$colorNeutral20: #cfcfcf;
$colorNeutral15: #dbdbdb;
$colorNeutral10: #e7e7e7;
$colorNeutral8: #ececec;
$colorNeutral4: #f5f5f5;
$colorNeutral2: #fafafa;
$colorNeutralFull: white;
