//## Mixin for generate @font-face css rules.
//## PARAMETERS: font-family, font-weight, font-style, url, local, local
@mixin createFontFaceRule($name, $weight, $style, $path, $local01: '', $local02: '') {
  $_local01: if($local01 != '', 'local("#{$local01}"),', '');
  $_local02: if($local02 != '', 'local(#{$local02}),', '');

  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$path}.eot'); //# IE9 Compat Modes
    src:
      #{unquote($_local01)}
      #{unquote($_local02)}
      url('#{$path}.eot?#iefix') format('embedded-opentype'), //# IE6-IE8
      url('#{$path}.woff2') format('woff2'),                  //# Super Modern Browsers
      url('#{$path}.woff') format('woff'),                    //# Modern Browsers
      url('#{$path}.ttf') format('truetype'),                 //# Safari, Android, iOS
      url('#{$path}.svg#Nunito') format('svg');               //# Legacy iOS
    @content;
  }
}

//## Mixin for create typography class.
//## PARAMETERS: font-weight, font-style
@mixin createTypographyElement($weight, $style) {
  font-weight: $weight;
  font-style: $style;
  @content;
}


//## Mixin for create font size class.
//## PARAMETERS: font-size, line-height
//## @DEPRECATED
@mixin createFontSizeElement($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
  @content;
}


//## Mixin for define font size class.
//## PARAMETERS: font-size, html root font-size, factor to calculate line-height
@mixin defineFontSizeElement($fontSize, $fontSizeRoot, $fontLineHeightFactor) {
  $calculatedFontSize: $fontSize / $fontSizeRoot;
  font-size: $calculatedFontSize + rem;
  line-height: (ceil($calculatedFontSize * $fontLineHeightFactor * 10000) / 10000) + rem;
  @content;
}

//## Mixin to generate a complete font definition.
//## PARAMETERS: font-size array, html root font-size, factor to calculate line-height
@mixin createFontDefinition($fontSizeSet, $fontSizeRoot, $fontLineHeightFactor) {
  @each $key in $fontSizeSet {
    .mda-font--#{$key} {
      @include defineFontSizeElement($key, $fontSizeRoot, $fontLineHeightFactor);
    }
  }
  @content;
}

//## Mixin to generate html headers definition.
//## PARAMETERS: headers font-size array, html root font-size, factor to calculate line-height
@mixin createHeadersDefinition($fonSizeHeaders, $fonSizeRoot, $fontLineHeightFactor) {
  @each $key in $fonSizeHeaders {
    $i: index($fonSizeHeaders, $key);
    H#{$i} {
      font-size: $key + rem;
      line-height: ($key * $fontLineHeightFactor) + rem;
    }
  }
  @content;
}

//## Mixin to generate template color definition.
//## PARAMETERS: template color set array
@mixin createColorsDefinition($colorSet) {
  @each $key, $value in $colorSet {
    .mda-color--#{$key} { color: $value; }
    .mda-color__bg--#{$key} { background-color: $value; }
    .mda-color__border--#{$key} { border-color: $value; }
  }
  @content;
}
