@import '../../global/mixins';
@import '../../global/fonts/Manrope';
@import '../../global/fonts/Stratio-Icon';
@import '../../global/components/components';

@import './backroom/variables/common';
@import './backroom/variables/sass';
@import './backroom/components';
@import './backroom/font-sizes';
@import '../space-blue/backroom/colors';

HTML {
  &#mda-stratio-web-tpl, &.mda-stratio-web-tpl {
    // font-size: getRelativeSize($fontSizeRoot, $viewportWidthReferenceInPX);
    font-size: $fontSizeRoot + px;
    line-height: $fontLineHeightFactor;

    * {
      font-family: Manrope, sans-serif;
      color: $colorSpace110;
      outline: none;
    }

    @extend %mda-typography-definition;

    @include createFontDefinition($fontSizesText, $fontSizeRoot, $fontLineHeightFactor) {
      // ###### HEADERS
      @include createHeadersDefinition($fontSizesHeaders, $fontSizeRoot, $fontLineHeightFactor);

      // ###### DEFAULT WEIGHT AND STYLE
      .mda--bold {
        font-weight: bold;
      }

      // ###### DEFAULT SIZE
      .mda-font--default {
        font-size: 1rem;
        line-height: $fontLineHeightFactor + rem;
      }
    }

    @include createColorsDefinition($colorsAvailable);
    @extend %mda-icon-definition;
    @extend %mda-global-vars;
    @extend %mda-components;
    @extend %mda-components-template;
  }
}
