// ###### Constants
$defaultIconFontFamilyMedea: 'Stratio Icon';
$defaultIconFontFamilyEgeo: 'ico_stratio';

// ###### Icons
$searchIcon: '\e036';
$emailIcon: '\e904';
$userIcon: '\e939';
$passwordIcon: '\e984';
$arrowDownIcon: '\e63f';
$radioIcon: '\e9c1';
$radioCheckedIcon: '\e9c0';
$checkboxIcon: '\e9a8';
$checkboxCheckedIcon: '\e9bf';

// ###### FONTS
$fontComponentLabel: '.mda-font--14';
