// ###### Constants
$defaultIconFontFamilyMedea: 'Stratio Icon';
$defaultIconFontFamilyEgeo: 'ico_stratio';

// ###### Icons
$searchIcon: '\e036';
$arrowDownIcon: '\e63f';
$radioIcon: '\e9c1';
$radioCheckedIcon: '\e9c0';

// ###### FONTS
$fontComponentLabel: '.mda-font--14';
